<?xml version="1.0"?>
<model>
    <name>Path Sphere</name>

    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Ryan Lober</name>
        <email>ryan.lober@isir.upmc.fr</email>
    </author>

    <description>
        A sphere which is used to mark sample points along a path. This is mostly because we can't draw lines...
    </description>
</model>
